<!-- Main navigation container -->
<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <a href="#">
        <img src="miniLogo.png">
      </a>
    </div>

    <!-- Hamburger menu -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- Navigation links -->
    <ul class="nav-links hidden lg:flex lg:space-x-6 lg:items-center whitespace-nowrap">
      <li><a href="#" class="text-sm">Home</a></li>
      <li><a href="timeline" class="text-sm">Timeline</a></li>
      <li><a href="location" class="text-sm">Location</a></li>
      <li><a href="weddingList" class="text-sm">Wedding&nbsp;List</a></li>
      <li><a href="contacts" class="text-sm">Contacts</a></li>
    </ul>
  </div>
</nav>