<app-separator></app-separator>

<div class="contacts font-['Montserrat']">
    <!-- Section 1 -->
    <div class="card">
        <div class="column">
            <img src="mipolly.jpg">
        </div>
        <div class="column">
            <h3>Michela Rubino</h3>
            <p>Telefono: +39 348 0379723</p>
            <p>Email: michelarubino91&#64;gmail.com</p>
        </div>
    </div>
    <div class="card">
        <div class="column">
            <img src="nipolly.jpg">
        </div>
        <div class="column">
            <h3>Nicola Giacobbo</h3>
            <p>Telefono: +39 338 4868617</p>
            <p>Email: giacobbo.nicola&#64;gmail.com</p>
        </div>
    </div>

</div>
