<!-- Footer -->
<footer class="text-center text-lg-start bg-light">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="flex justify-around align-items-center mb-3">
      <div class="flex-initial">
        <strong class="text-gray-600">Michela:</strong>
        <div>
          <a href="https://wa.me/393480379723" class="ms-2 me-2 text-gray-500 hover:text-gray-700">
            <i class="fab fa-whatsapp fa-lg"></i>
          </a>
          <a href="https://t.me/YourMichelaTelegramUsername" class="me-2 text-gray-500 hover:text-gray-700">
            <i class="fab fa-telegram fa-lg"></i>
          </a>
          <a href="mailto:michelarubino91@gmail.com" class="me-2 text-gray-500 hover:text-gray-700">
            <i class="far fa-envelope fa-lg"></i>
          </a>
          <a href="tel:+393480379723" class="text-gray-500 hover:text-gray-700">
            <i class="fas fa-phone fa-sm"></i>
          </a>  
        </div>
      </div>
      <div class="flex-initial">
        <strong class="text-gray-600">Nicola:</strong>
        <div>
          <a href="https://wa.me/393384868617" class="ms-2 me-2 text-gray-500 hover:text-gray-700">
            <i class="fab fa-whatsapp fa-lg"></i>
          </a>
          <a href="https://t.me/YourNicolaTelegramUsername" class="me-2 text-gray-500 hover:text-gray-700">
            <i class="fab fa-telegram fa-lg"></i>
          </a>
          <a href="mailto:nicola.email@example.com" class="me-2 text-gray-500 hover:text-gray-700">
            <i class="far fa-envelope fa-lg"></i>
          </a>
          <a href="tel:+393480379723" class="text-gray-500 hover:text-gray-700">
            <i class="fas fa-phone fa-sm"></i>
          </a>  
        </div>
      </div>
    </div>
    <p class="text-gray-500">
      © 2024 Copyright:
      <strong class="text-gray-600">MiNi</strong>
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->