<app-header></app-header>

<app-separator></app-separator>

<div class="wedding-schedule">
    <div class="schedule-item">
      <h3>Cerimonia</h3>
      <p>16:30</p>
      <p>Le nozze si celebreranno presso il Convento di San Francesco D'Assisi in via San Francesco, Padula
    </p>
    </div>
  
  
    <div class="schedule-item">
      <h3>Ricevimento</h3>
      <p>18:00</p>
      <p>I festeggiamenti avranno inizio nel giardino del Grand Hotel Certosa in viale Certosa, Padula
    </p>
    </div>
  
    <div class="schedule-item">
      <h3>Cena nuziale</h3>
      <p>20:00</p>
      <p>La cena nuziale si terrà nella Sala Master del Grand Hotel Certosa in viale Certosa, Padula
    </p>
    </div>
  
    <div class="schedule-item">
      <h3>Taglio della torta</h3>
      <p>24:00</p>
      <p>L'evento si concluderà con il taglio della torta presso la piscina del Grand Hotel Certosa in viale Certosa, Padula
    </p>
    </div>
  
  </div>

  <app-confirm></app-confirm>

<app-footer></app-footer>
