<app-separator></app-separator>

<!-- Central Container -->
<div class="central-container font-['Montserrat']">
    <h3 class="title">Wedding List</h3>
    <p>Il regalo più bello che potremmo mai ricevere<br>
    è avervi accanto nel nostro grande giorno ...<br>
    ma se vi facesse piacere contribuire<br>
    alla nostra prossima fuga d'amore<br>
    potete farlo qui.</p>
    <span class="iban"><p><strong>IBAN:</strong> IT44A0326812100052330831270<br>
        <strong>Intestatari:</strong> Michela Rubino e Nicola Giacobbo</p></span> 
</div>
