<app-header></app-header>


<app-separator></app-separator>

<div class="font-['Montserrat']">
<!-- Section 1 -->
<div class="section">
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
    <div class="column">
        <h3>Convento San Francesco</h3>
        <p>Your text for section 1 goes here.</p>
        <div class="buttons">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Mappa
              </button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Scopri
              </button>        
        </div>
    </div>
</div>

<div class="elegant-separator">
    <div class="line-container">
      <div class="line"></div>
    </div>
</div>

<!-- Section 2 -->
<div class="section">
    <div class="column">
        <h3>Grand Hotel Certosa</h3>
        <p>Your text for section 2 goes here.</p>
        <div class="buttons">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Mappa
              </button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Scopri
              </button>        
        </div>
    </div>
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
</div>

<div class="elegant-separator">
    <div class="line-container">
      <div class="line"></div>
    </div>
</div>

<!-- Section 3 -->
<div class="section" style>
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
    <div class="column">
        <h3>Padula</h3>
        <p>Your text for section 3 goes here.</p>
        <div class="buttons">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Mappa
              </button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Scopri
              </button>        
        </div>
    </div>
</div>

<div class="elegant-separator">
    <div class="line-container">
      <div class="line"></div>
    </div>
</div>

<!-- Section 4 -->
<div class="section">
    <div class="column">
        <h3>Vallo di Diano</h3>
        <p>Your text for section 4 goes here.</p>
        <div class="buttons">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Mappa
              </button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Scopri
              </button>        
        </div>
    </div>
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
</div>
</div>

<app-confirm></app-confirm>

<app-footer></app-footer>
