<app-header></app-header>


<app-separator></app-separator>

<div class="font-['Montserrat']">
<!-- Section 1 -->
<div class="section">
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
    <div class="column">
        <p>Your text for section 1 goes here.</p>
    </div>
</div>

<div class="elegant-separator">
    <div class="line-container">
      <div class="line"></div>
    </div>
</div>

<!-- Section 2 -->
<div class="section">
    <div class="column">
        <p>Your text for section 2 goes here.</p>
    </div>
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
</div>

<div class="elegant-separator">
    <div class="line-container">
      <div class="line"></div>
    </div>
</div>

<!-- Section 3 -->
<div class="section" style>
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
    <div class="column">
        <p>Your text for section 3 goes here.</p>
    </div>
</div>

<div class="elegant-separator">
    <div class="line-container">
      <div class="line"></div>
    </div>
</div>

<!-- Section 4 -->
<div class="section">
    <div class="column">
        <p>Your text for section 4 goes here.</p>
    </div>
    <div class="column">
        <img src="convento.jpg" alt="Placeholder Image">
    </div>
</div>
</div>

<app-confirm></app-confirm>

<app-footer></app-footer>
