.elegant-separator {
    text-align: center;
    padding: 2rem 0;
  }
  
  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: lightgray;
  }
  
  .ornament {
    width: 10px;
    height: 10px;
    background-color: lightgrey;
    transform: rotate(45deg);
    margin: 0 15px;
  }

.section {
    justify-content: space-around;
    display: flex;
    gap: 20px;
    max-width: 900px; /* Set a maximum width for the section */
    margin: 0 auto; /* Center the section */
    align-items: center;
    justify-content: center;
}

.column {
  display: flex-col;
  margin: 1em;
  text-align: center;
}

.column img {
  margin: auto;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

.column h3 {
  margin: auto;
  font-size: 1.6em;
  font-style: bold;
  text-transform: uppercase;
}

.column p {
  margin: auto;
  font-size: 1.4em;
  color: #7c7c7c;
}

.buttons {
  display: flex;
  margin: 15px;
}

.buttons button {
  margin: auto;
  color: #7c7c7c;
}

.buttons button:hover {
  background-color: #7c7b7b;
  color: rgba(255, 255, 255, 0.863);
}
